<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PriceListUploader.Properties.Settings.sbi_designdbConnectionString"
            connectionString="Data Source=SBI-SRV-07\SQLEXPRESS;Initial Catalog=sbi_designdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>